<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta property="og:site_name" content="DiscordFileHost">
    <meta property="og:title" content="<%= fileName %>">
    <meta name="twitter:title" content="<%= fileName %>">
    <meta name="description" content="<%= fileName %> ∙ <%= fileSize %>">
    
	<meta property="og:type" content="video.other">
	<meta property="og:url" content="<%= fileURL %>">
	<meta property="og:video" content="<%= fileURL %>">
	<meta property="og:video:url" content="<%= fileURL %>">
	<meta property="og:video:secure_url" content="<%= fileURL %>">
	<meta property="og:video:type" content="video/mp4">
	<meta property="og:video:width" content="1280">
	<meta property="og:video:height" content="720">
	
	<meta name="twitter:card" content="player">
	<meta name="twitter:site" content="DiscordFileHost">
	<meta name="twitter:player:width" content="1280">
	<meta name="twitter:player:height" content="720">
	<meta name="twitter:player" content="<%= fileURL %>">
	
	<meta name="theme-color" content="#596AED">
	<script>
		window.location.replace("<%= fileURL %>");
		
		setTimeout(() => {
			window.close();
		}, 3000);
	</script>
</head>
<body>
</body>
</html>